<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Zadanie 4 formualrz rejestracyjny</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="container" ng-app="formValidator" ng-controller = "FormControler">

        <h1>Formularz rejestracyjny</h1>

        <br>

        <form class="fomr" name="registrationForm" novalidate ng-submit="register()" ng-show="!successfullySubmitted">
          <div class="field">
            <input type="text" name="nameField" placeholder="Imię" ng-model="user.name" ng-required = "true">
            <p class="error text-center"  ng-show="registrationForm.nameField.$invalid && registrationForm.nameField.$touched">Nie podałeś imienia wpisz je !</p>
          </div>
          <div class="field">
            <input type="text" name="surnameField" placeholder="Naziwsko">
          </div>
          <div class="field">
            <input type="email" name="emailField" placeholder="Adres email" ng-model="user.email" ng-required = "true">
            <p class="error text-center"  ng-show="registrationForm.emailField.$invalid && registrationForm.emailField.$touched">Brakuje Twojego adresu email podaj go !</p>
          </div>
          <div class="field">
            <input type="password" name="passwordField" placeholder="Hasło" ng-model="user.password" ng-required = "true" ng-minlength = "5">
            <p class="error text-center"  ng-show="registrationForm.passwordField.$invalid && registrationForm.passwordField.$touched">Hasło musi zawierać min 5 znakow !</p>
          </div>
          <div class="checkboxField" ng-class="{'ng-invalid':registrationForm.terms.$invalid, 'ng-dirty:registrationForm.terms.$dirty'}">
            <input type="checkbox" checked="checked" ng-model="user.terms" ng-required = "true">
            <p>Akceptuje regulamin</p>
          </div>
          <button type="submit" ng-disabled="registrationForm.$invalid">Wyślij dane</button>
        </form>

        <h4 class="successfullySubmitted" ng-show="successfullySubmitted">Dziękuję za rejestrację, {{user.nameField}} ;] !</h4>

    </div>

<script src="js/angular.min.js"></script>
<script src="js/validator.js"></script>

</body>
</html>
